<div class="container">
  <h1>Theming demo</h1>

  <LinkTo class="btn btn-link" @route="vanilla">Basic Theming</LinkTo>
  <LinkTo class="btn btn-link" @route="bootstrap">Bootstrap Theming</LinkTo>
</div>